/*
!/example/
/include/boost/
/examples/example_evals.txt
/examples/example_evecs.tx
/examples/example_eg.1.txt
/examples/example_eg.2.txt
/examples/example_eg.3.txt
/examples/example_eg.4.txt
/examples/example_eg.5.txt
/examples/example_projections.txt
!CMakeLists.txt
!/examples
!/examples/*.bed
!/examples/*.bim
!/examples/*.fam
!examples/Arab295Line_evals.txt
!examples/Arab295Line_evecs.txt
!examples/Arab295Line_projections.txt
!/.git
!/.gitignore
!/include/Eigen/
!LICENSE
!README.md
!/src
!/misc
